@{
    ViewBag.Title = "Lê Trung Kiên";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài thi giữa kỳ của Lê Trung Kiên -  Cam kết không đạo văn</h3>
<address>
    K22CNT4 - Môn lập trình ứng web với công nghệ ASP.NET MVC5
    </address>
<address>
    <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
    <strong>Sinh Viên:</strong> <a href="mailto:kienlee14@gmail.com">kienlee14@gmail.com</a>
</address>