@{
    ViewBag.Title = "Lê Trung Kiên";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
K22CNT4 - Môn lập trình ứng dụng web với công nghệ ASP.NET MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:kienlee14@gmail.com">kienlee14@gmail.com</a>
</address>