
@{
    ViewBag.Title = "Giới thiệu";
}

<p>

    VỀ TRƯỜNG ĐẠI HỌC NGUYỄN TRÃI

    Trường Đại học Nguyễn Trãi được thành lập theo Quyết định số 183/QĐ-TTg ngày 05/02/2008 của Thủ tướng Chính phủ và chịu sự quản lý Nhà nước về giáo dục của Bộ Giáo dục và Đào tạo.

    Trường Đại học Nguyễn Trãi tự hào mang tên Đại anh hùng dân tộc Nguyễn Trãi, một danh nhân toàn tài kiệt xuất trong lịch sử dân tộc Việt Nam, đã được UNESCO công nhận “Danh nhân văn hóa Thế giới”. Mục tiêu của Trường Đại học Nguyễn Trãi sẽ trở thành một trong những trường Đại học đứng đầu của Việt Nam và khu vực thông qua liên kết đào tạo hiệu quả với các trường Đại học uy tín và đẳng cấp trên thế giới.

    Kim chỉ nam của Trường Đại học Nguyễn Trãi là phát triển nhanh, bền vững, gắn kết chặt chẽ với doanh nghiệp, năng động, sáng tạo và đổi mới tư duy. “Nguyễn Trãi – Khát vọng tuổi thanh xuân” là động lực truyền cảm hứng để Nhà trường thực hiện thành công 3 nhất sau đây:

    Một là, Sinh viên hài lòng nhất về Nhà trường và có thu nhập cao sau khi ra trường; cán bộ, giảng viên, các nhà nghiên cứu hài lòng nhất về thu nhập khi công tác tại trường.

    Hai là, Thành lập được nhiều nhất các doanh nghiệp, trung tâm, viện thuộc Trường. Đây là nơi giúp sinh viên có thể hiện thực hoá khát vọng tuổi thanh xuân, khát vọng khởi nghiệp làm giàu trên quê hương mình.

    Ba là, Kết nạp Đảng cho nhiều sinh viên nhất đã phấn đấu, học tập, rèn luyện, có lý tưởng trở thành công dân có ích cho xã hội.
</p>

