
@{
    ViewBag.Title = "Lê Trung Kiên";
}

<h2>Lê Trung Kiên - Index</h2>
<h3>Hiển thị dữ liệu lấy từ Action trong Controller</h3>
<h4>Full name: @ViewBag.fullName</h4>
<h4>Ngày sinh: @ViewData["Birthday"]</h4>
<h4>Di động: @TempData["Phone"]</h4>

