@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Họ và tên: Lê Trung Kiên<br />
   Ngày sinh: 13/02/2004<br />
    <abbr title="Phone">P:</abbr>
   0913088169<br/>
    Lớp:K22CNT4
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Email:</strong> <a href="mailto:kienlee14@gmail.com">kienlee14@gmail.com</a>
</address>