@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.msv</h3>
<h3>@ViewBag.FullName</h3>


<address>
    K22CNT4<br />
    -ASP.NET MVC5<br />
    <abbr title="Phone">P:</abbr>
   0913088169
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kienlee14@gmail.com">kienlee14@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>